<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Glegoo" rel="stylesheet">

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5182701403203784",
    enable_page_level_ads: true
  });
</script>
<!-- end custom head snippets -->
