---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes";

.header-image {
  vertical-align: middle;
  padding-bottom: 6px;
  width: 2em;
  height: 2em;
}